

/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) { 
   h1 {
       font-size: 30px;
   }
   .header_text span {
       font-size: 20px;
   }
   h2 {
       font-size: 28px;
   }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) and (max-width: 575.98px) { 
   .sec12_btn a {
       font-size: 22px;

   }
   h2 {
       font-size: 26px;
   }
   .left_logo img {
       width: 100%;
       max-width: 220px;
       margin-bottom: 10px;
   }
   .left_logo {
       width: 100%;
       text-align: center;
   }
}